<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
   
  </head>
  <body>
    <%- include('../menu') %>
    <h2><%= title %></h2>
    <!-- <p>express stock photo application</p> -->
    <div id="photos">
        <% photos.forEach(function(photo) { %>
            <div  class="photo">
                <h2><%=photo.name%></h2>
                <img src="/photos/<%=photo.path%>" alt="图片">
                <p class="default-corlor">图片链接： "<span class="getPhotoHref"></span><span class="getPhoto">/photos/<%=photo.path%></span> "</p>
            </div>
        <% }) %>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        let host = window.location.host
        let protocol= window.location.protocol
        console.log(111, protocol, host)
        // $('.getPhotoHref').css("background-color","yellow");
        $('.getPhotoHref').text(protocol+'//'+ host);
        //jquery获取当前页面的URL信息
        //https://www.cnblogs.com/hongmaju/p/5510988.html
      });
    </script>
  </body>
</html>
