<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/plug/particleground/css/style.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
   
  </head>
  <body id="uploadBody">
    <div class="container">
      <%- include('../menu') %>
      <div id="particles" class="particles"> </div>
      <div class="main">
        <h2><%= title %></h2>
        <!-- <p>express stock photo application</p> -->
        <div id="photos" class="photos-list">
          <% photos.forEach(function(photo, key) { %>
            <% if (photo.fileType == 1) { %>
            <div  class="photo">
              <h2>
                <%=photo.name%> 
                <% if (photo.userName) { %>
                  <span class="photo-author">【上传者：<%=photo.userName%>
                    <% if (photo.time) { %>
                    <span >上传时间：<%=photo.time%></span>
                    <% } %>
                    】  
                  </span>
                <% } %>
              </h2>
              <div class="photo-info">
                
                <a href='/photo/<%= photo.id%>/download' title="点击下载图片" target="_blank">
                  <!-- <% if (photo.fileType == 2) { %>
                    <embed src="/photos/<%=photo.path%>" width="100" height="100" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
                    <iframe src="/photos/<%=photo.path%>" height="100" width="100"></iframe>
                    <embed  type="application/pdf" src="/photos/<%=photo.path%>" width="100" height="100">
                      <object data="/photos/<%=photo.path%>" width="100" height="100"></object>
                  <% } 
                  else{ %><img class="photo-info-img" src="/photos/<%=photo.path%>" alt="图片"> <%} %> -->
                 
                    <img class="photo-info-img" src="/photos/<%=photo.path%>" alt="图片">
                  
                </a>
               
                <div class="photo-info-link default-corlor">
                  <span class="photo-info-link-name">图片链接：</span> 
                  <div class="photo-info-link-path"> 
                    <span id="copyVal<%= key%>" class="copy-link  http-link">
                      <input type="hidden"  id="linkPhoto" value="/photos/<%=photo.path%>">
                      <!-- <span class="getPhotoHref"></span><span class="getPhoto">/photos/<%=photo.path%></span> -->
                      <span class="link-pic"> </span>
                    </span>
                    <button id="btn-<%= key%>" class="btn photo-upload copy-btn" data-clipboard-target="#copyVal<%= key%>">复制</button>
                  </div>
                  <!-- <span class="photo-info-link-name">HTML代码：</span> 
                  <div class="photo-info-link-path"> 
                    <span id="copyVal<%= key%>2" class="copy-link ">
                      <input type="text" class="link-input link-img" value=""> -->
                      <!-- <img src="" alt="" class="link-img"> -->
                    <!-- </code>
                    </span>
                    <button id="btn-<%= key%>2" class="btn photo-upload copy-btn" data-clipboard-target="#copyVal<%= key%>">复制</button>
                  </div> -->

                  <!-- <span class="photo-info-link-name">UBB代码：</span> 
                  <div class="photo-info-link-path"> 
                    <span id="copyVal<%= key%>3" class="copy-link">
                      <input type="text" class="link-input  ubb-img" value="">
                      
                    </span>
                    <button id="btn-<%= key%>3" class="btn photo-upload copy-btn" data-clipboard-target="#copyVal<%= key%>">复制</button>
                  </div> -->
                  
                  <!-- <p class="photo-info-link-copy">
                    <button class="btn photo-upload">复制</button>
                  </p> -->
                </div>
               
              
              </div>
             
            </div>
            <% } %>
          <% }) %>
        </div>
      </div>
    </div>
   
    <%- include('../footer') %>
    <!-- <script type='text/javascript' src='js/jquery-1.11.1.min.js'></script> -->
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script type='text/javascript' src='/plug/particleground/jquery.particleground.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
    
    
    <script>
      $(document).ready(function(){
        let host = window.location.host;
        let protocol= window.location.protocol;
        // linkPhoto <img src="" alt="" class="link-img">
        $('.getPhotoHref').text(protocol+'//'+ host);
        let _linkPic = $('#linkPhoto').val()
        let _totalLink = protocol+'//'+ host+_linkPic
      //  console.log('----', _totalLink)
       $('.link-pic').text(_totalLink);
      //  $('.link-img').val(`<img src="${_totalLink}" alt="html链接" class="link-img">`);
      
      //  $('.ubb-img').val(`[img]${_totalLink}[/img]`);
        let clipboard = new ClipboardJS('.copy-btn');
       
        clipboard.on('success', function(e) {
          alert('复制成功')
          e.clearSelection();
        });
        // console.log('---main---', $('.main').height())
       $('#uploadBody, #particles').height($('.main').height()+100)
        clipboard.on('error', function(e) {
          console.error('Action:', e.action);
          console.error('Trigger:', e.trigger);
        });

      });

    </script>
    <!--  -->
   <script type='text/javascript' src='/plug/particleground/parGround.js'></script>
  </body>
</html>
